@import "tailwindcss";

@layer components {
  .color-danger {
    a {
      color: var(--color-gray-600) !important;

      &:hover {
        color: var(--color-red-600) !important;
        cursor: pointer;
        transition: color .2s;
      }
    }
  }

  .matte-effect {
    background: rgba(237, 237, 237, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
}